


<div class="navbar">





<a href="/"><img src="/assets/GetAttachment.jpg"></a>
	<div class="logo">
	<ul>
		<li><a href="categorias">Descuentos</a></li>
		<li><a href="aplica">Aplica</a></li>	
	</ul>
	</div>
	<div class="right">
	<input class="search" data-tracker-name="Header Live Search" placeholder="¿Que Descuento Buscas?" type="text" autocomplete="on">
	<ul>
		<li><a href="">Log in</a></li>
		<li><a href="">Sign up</a></li>	
	</ul>
	</div>
</div>	