<div class="navbar">





<a href="/"><img src="/assets/GetAttachment.jpg"></a>
	<div class="logo">
	<ul>
		<li><a href="categorias">Descuentos</a></li>
		<li><a href="aplica">Aplica</a></li>	
	</ul>
	</div>
	<div class="right">
	<input class="search" data-tracker-name="Header Live Search" placeholder="¿Que Descuento Buscas?" type="text" autocomplete="on">
	<ul>
		<li><a href="">Log in</a></li>
		<li><a href="">Sign up</a></li>	
	</ul>
	</div>
</div>	


<div class="fold_categorias">
<h1> Escoga el tipo de descuento busca</h1>

<div class="container_categorias"><a href="" id="cat1">Practica</a></div>
<div class="container_categorias"><a href="" id="cat2">Practica</a></div>
<div class="container_categorias"><a href="" id="cat3">Practica</a></div>
<div class="container_categorias"><a href="" id="cat4">Practica</a></div>
<div class="container_categorias"><a href="" id="cat5">Practica</a></div>
<div class="container_categorias"><a href="" id="cat6">Practica</a></div>
<div class="container_categorias"><a href="" id="cat7">Practica</a></div>
<div class="container_categorias"><a href="" id="cat8">Practica</a></div>
<div class="container_categorias"><a href="" id="cat9">Practica</a></div>
<div class="container_categorias"><a href="" id="cat10">Practica</a></div>
<div class="container_categorias"><a href="" id="cat11">Practica</a></div>
<div class="container_categorias"><a href="" id="cat12">Practica</a></div>
<div class="container_categorias"><a href="" id="cat13">Practica</a></div>
<div class="container_categorias"><a href="" id="cat14">Practica</a></div>
<div class="container_categorias"><a href="" id="cat15">Practica</a></div>


</div>
