<div class="navbar">





<a href="/"><img src="/assets/GetAttachment.jpg"></a>
	<div class="logo">
	<ul>
		<li><a href="categorias">Descuentos</a></li>
		<li><a href="aplica">Aplica</a></li>	
	</ul>
	</div>
	<div class="right">
	<input class="search" data-tracker-name="Header Live Search" placeholder="¿Que Descuento Buscas?" type="text" autocomplete="on">
	<ul>
		<li><a href="">Log in</a></li>
		<li><a href="">Sign up</a></li>	
	</ul>
	</div>
</div>	


<div class="fold_categorias">
<h1> Escoga el tipo de descuento busca</h1>
<div class="categoriasp">
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>

</div>
</div>
<div class="nosotros">
	<ul>
		<li><p class="nosotrosinic">About Us</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Help</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Discover</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Social</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>

</div>




