<link rel="stylesheet" type="text/css" href="categorias.scss">


<div class="fold_categorias">
<h1> Escoga el tipo de descuento busca</h1>
<div class="categoriasp">
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>
<div class="container_categorias"><a href="" id="" class="uno">CHAO</a><a href="" class="dos">HOLA</a></div>

</div>
</div>



