







<div class="fold_1">
<h1>
¡Descuentos!
</h1>
<p>
¡Los mejores decuentos en tu ciudad!
</p>
<a href="#" class="myButton">Registrate Ya!</a>
</div>






<div class="fold_2">
	<div class="boxo">
		<div class="box"><a href="" class = "changeone">
		<h1>Kong</h1>
		<p>Aqui colocariamos breve descripcion de el lugar</p>
		<p class="discount">Aqui iria porcentaje de descuento </p>
		</a><a href="" class = "changetwo"><img src="assets/kong.jpg" alt="" id= "kong"></a></div>
		<div class="box"><a href="" class = "changeone">
		<h1>Bog Hotel</h1>
		<p>Aqui colocariamos breve descripcion de el lugar</p>
		<p class="discount">Aqui iria porcentaje de descuento </p>	
		</a><a href="" class = "changetwo"><img src="assets/bog_hotel.jpg" alt=""></a></div>
		<div class="box"><a href="" class = "changeone">
		<h1>Teriyaki</h1>
		<p>Aqui colocariamos breve descripcion de el lugar</p>
		<p class="discount">Aqui iria porcentaje de descuento </p>
		</a><a href="" class = "changetwo"><img src="assets/teriyaki.jpg" alt=""></a></div>
		<div class="box"><a href="" class = "changeone">
		<h1>Gigis</h1>
		<p>Aqui colocariamos breve descripcion de el lugar</p>
		<p class="discount">Aqui iria porcentaje de descuento </p>	
		</a><a href="" class = "changetwo"><img src="assets/gigis.jpeg" alt=""></a></div>
		<div class="box"><a href="" class = "changeone">
		<h1>Kinky</h1>
		<p>Aqui colocariamos breve descripcion de el lugar</p>
		<p class="discount">Aqui iria porcentaje de descuento </p>	
		</a><a href="" class = "changetwo"><img src="assets/kinky.jpg" alt=""></a></div>
		<div class="box"><a href="" class = "changeone">
		<h1>Pravda</h1>
		<p>Aqui colocariamos breve descripcion de el lugar</p>
		<p class="discount">Aqui iria porcentaje de descuento </p>	
		</a><a href="" class = "changetwo"><img src="assets/pravda.jpg" alt=""></a></div>




	</div>

</div>









<h1 id="socios">Socios Estrategicos:</h1>

<div class="socios">
			<a href="http://www.refrisistemas.co" class="socios_imgs"><img src="assets/refris.png" alt=""></a>
			<a href="http://www.grupobancolombia.com/home/index.asp" class="socios_imgs"><img src="assets/bancolombia.png" alt=""></a>
			<a href="http://www.cesa.edu.co/Home.aspx" class="socios_imgs"><img src="assets/cesa.jpg" alt=""></a>
			<a href="http://www.camarabaq.org.co/" class="socios_imgs"><img src="assets/camara.jpg" alt=""></a>
			<a href="http://www.dariocabello.com/" class="socios_imgs"><img src="assets/dario.png" alt=""></a>
</div>


<script src="main.js">

</script>





