


<div class="navbar">





<a href="/"><img src="/assets/GetAttachment.jpg"></a>
	<div class="logo">
	<ul>
		<li><a href="categorias">Descuentos</a></li>
		<li><a href="aplica">Aplica</a></li>	
	</ul>
	</div>
	<div class="right">
	<input class="search" data-tracker-name="Header Live Search" placeholder="¿Que Descuento Buscas?" type="text" autocomplete="on">
	<ul>
		<li><a href="">Log in</a></li>
		<li><a href="">Sign up</a></li>	
	</ul>
	</div>
</div>	




<div class="fold_1">
<h1>
¡Descuentos!
</h1>
<p>
¡Los mejores decuentos en tu ciudad!
</p>
<a href="#" class="myButton">Registrate Ya!</a>
</div>
<h1 id="socios">Socios Estrategicos:</h1>

<div class="socios">
<a href="http://www.refrisistemas.co" class="socios_imgs"><img src="<%= asset_path 'refris.png' %>" alt=""></a>
<a href="http://www.grupobancolombia.com/home/index.asp" class="socios_imgs"><img src="assets/bancolombia.png" alt=""></a>
<a href="http://www.cesa.edu.co/Home.aspx" class="socios_imgs"><img src="assets/cesa.jpg" alt=""></a>
<a href="http://www.camarabaq.org.co/" class="socios_imgs"><img src="assets/camara.jpg" alt=""></a>
<a href="http://www.dariocabello.com/" class="socios_imgs"><img src="assets/dario.png" alt=""></a>
</div>

<div class="nosotros">
	<ul>
		<li><p class="nosotrosinic">About Us</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Help</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Discover</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Social</p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
		<li><p><a href="">trial</a></p></li>
</ul>

</div>



