<link rel="stylesheet" type="text/css" href="assets/log_in.scss">


<div class="login-box">
    <div class="lb-header">
 
    </div>
    
    <form class="email-login">
      <div class="u-form-group">
      <h2>Log in</h2>
        <input type="email" placeholder="Email" class="search1">
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password" class="search1">
      </div>
      <div class="u-form-group">

        <button class="log_in">Log in</button>
        <button class="facebook"><span></span>Log in with Facebook</button>
     
      </div>
     
  </div>


