<!DOCTYPE html>
<html>
<head>
  <title>Momentos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">





<a href="/"><img src="/assets/GetAttachment.jpg"></a>
	<div class="logo">
	<ul>
		<li><a id= "Descuentos"href="categorias">Descuentos</a></li>
		<li><a id= "Aplica"href="aplica">Aplica</a></li>	
	</ul>
	</div>
	<div class="right">
	<input class="search" data-tracker-name="Header Live Search" placeholder="¿Que Descuento  Buscas?" type="text" autocomplete="on">
	<ul>
		<li><a id = "Log_in" href="users/login">Log in</a></li>
		<li><a id = "Sign_up" href="users/new">Sign up</a></li>	
	</ul>
	</div>
</div>	


<%= yield %>

</body>
<div class="nosotros">
	<ul>
		<li><p class="nosotrosinic">About Us</p></li>
		<li><p><a href="">¿Que es Momentos?</a></p></li>
		<li><p><a href="">¿Quienes Somos?</a></p></li>
		<li><p><a href="">Trabaja con Nosotros</a></p></li>
		
</ul>
<ul>
		<li><p class="nosotrosinic">Help</p></li>
		<li><p><a href="">FAQ</a></p></li>
		<li><p><a href="">Reglas</a></p></li>
		<li><p><a href="">Soporte</a></p></li>
		<li><p><a href="">Politicas y Reglas</a></p></li>

</ul>
<ul>
		<li><p class="nosotrosinic">Categorias</p></li>
		<li><p><a href="">Restaurantes</a></p></li>
		<li><p><a href="">Bares</a></p></li>
		<li><p><a href="">Discotecas</a></p></li>
		<li><p><a href="">Hoteles</a></p></li>
		<li><p><a href="">Viajes</a></p></li>
</ul>
<ul>
		<li><p class="nosotrosinic">Social</p></li>
		<li><p><a href="">Facebook</a></p></li>
		<li><p><a href="">Twitter</a></p></li>
		<li><p><a href="">Instagram</a></p></li>
		<li><p><a href="">Youtube</a></p></li>
		<li><p><a href="">Tumblr</a></p></li>
		<li><p><a href="">Pinterest</a></p></li>
</ul>

</div>
</html>
